template#download-icon: include /assets/images/svg/download.svg
.container
  h1 Mojang Converter
  p
    | This is a tool that allows you to convert the Mojang Studios logo texture between the 1.15 and 1.16 formats.
  p
    | This can also be used to convert any image into a valid 
    strong mojangstudios
    |  texture.
  p
    | This is also available as a 
    a(href = "https://www.wynem.com?commands=minecraft/resourcepacks&command=mojangconverter" target = "_blank") command on Discord
    | .
  br
  p
    | Please provide your 
    strong mojang.png
    |  or 
    strong mojangstudios.png
    |  file
  file-input
  #output