doctype html
html
  head
    title Ewan Howell - Entity Tester
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/maps/entity-tester/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/maps/entity-tester/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - Entity Tester")
    meta(property = "og:description", content = "A world to test your entity textures and models!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/maps/entity-tester/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/maps/entity-tester/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#53402b")
    include /../includes/head.pug
  include /../includes/body.pug