extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Entity Tester - Ewan Howell",
      description: "A world to test your entity textures and models!",
      image: "maps/entity-tester/cover.webp",
      colour: "#53402b",
      icon: "maps/entity-tester/icon.webp"
    }