extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Scrolling Textures - Ewan Howell",
      description: "A pack where all the textures are animated to move!",
      image: "resourcepacks/scrolling-textures/cover.webp",
      colour: "#757475",
      icon: "resourcepacks/scrolling-textures/icon.webp"
    }