extends /../includes/main.pug

block meta
  -
    meta = {
      title: "F8thful Dungeons - Ewan Howell",
      description: "The 8x8 Resource Pack for Minecraft Dungeons",
      image: "dungeonsmods/f8thful-dungeons/cover.webp",
      colour: "#483b39",
      icon: "dungeonsmods/f8thful-dungeons/icon.webp"
    }