.container
  h1 Tools
  #tools
    a.tool(href = "/tools/ctmconverter", is = "f-a")
      .details
        h2 CTM Converter
        p A tool that allows you to convert compact CTM to either full CTM, or overlay CTM.
        .spacer
      .image
        img(src = "/assets/images/minecraft/ctm.webp")
    a.tool(href = "/tools/mojangconverter", is = "f-a")
      .details
        h2 Mojang Converter
        p A tool that allows you to convert the Mojang Studios logo texture between the 1.15 and 1.16 formats.
      .image
        img(src = "/assets/images/minecraft/mojangstudios.webp")