template#download-icon: include /assets/images/svg/download.svg
.container
  h1 Bed Converter
  p This is a tool that allows you to convert a Minecraft bed entity texture into the 26.2 block format, splitting it into the individual face textures.
  p This is also available as a 
    a(href = "https://wynem.com/commands/prefix/minecraft/resourcepacks/bedconverter" target = "_blank") command on Discord
    | .
  br
  p Please provide either a bed entity texture (PNG), or a ZIP containing multiple bed textures.
    |  Textures must be square, a power of 2 in size, and at least 64×64.
  p When providing a ZIP, each texture's outputs will be grouped into a folder named #[strong &lt;filename&gt;_bed]#[span .]
  file-input(accept = ".png,.zip,image/png,application/zip")
  #output
