extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Flipped Uvs - Ewan Howell",
      description: "Give all entities flipped opposite UVs",
      image: "resourcepacks/flipped-uvs/cover.webp",
      colour: "#5b6966",
      icon: "resourcepacks/flipped-uvs/icon.webp"
    }