doctype html
html
  head
    title Flipped Uvs - Ewan Howell
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/flipped-uvs/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/flipped-uvs/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Flipped Uvs - Ewan Howell")
    meta(property = "og:description", content = "Give all entities flipped opposite UVs")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/flipped-uvs/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/flipped-uvs/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#5b6966")
    include /../includes/head.pug
  include /../includes/body.pug