extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Mini Items - Ewan Howell",
      description: "Make your items smaller",
      image: "resourcepacks/mini-items/cover.webp",
      colour: "#394a32",
      icon: "resourcepacks/mini-items/icon.webp"
    }