extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Collapsible Start Screen Categories - Ewan Howell",
      description: "Add the ability to collapse the start screen categories.",
      image: "plugins/collapsible-start-screen-categories/cover.webp",
      colour: "#242830",
      icon: "plugins/collapsible-start-screen-categories/icon.webp"
    }