extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Rerender - Ewan Howell",
      description: "The interdimensional improvement pack",
      image: "resourcepacks/rerender/cover.webp",
      colour: "#493c4e",
      icon: "resourcepacks/rerender/icon.webp"
    }