doctype html
html
  head
    title Ewan Howell - Entity Healthbars: Hearts
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/entity-healthbars-hearts/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/entity-healthbars-hearts/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - Entity Healthbars: Hearts")
    meta(property = "og:description", content = "The pack where every entity has a healthbar! Now with hearts!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/entity-healthbars-hearts/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/entity-healthbars-hearts/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#2e3827")
    include /../includes/head.pug
  include /../includes/body.pug