extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Entity Healthbars: Hearts - Ewan Howell",
      description: "The pack where every entity has a healthbar! Now with hearts!",
      image: "resourcepacks/entity-healthbars-hearts/cover.webp",
      colour: "#2e3827",
      icon: "resourcepacks/entity-healthbars-hearts/icon.webp"
    }