extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Google Images - Ewan Howell",
      description: "Every texture is a Google image!",
      image: "resourcepacks/google-images/cover.webp",
      colour: "#5f6746",
      icon: "resourcepacks/google-images/icon.webp"
    }