extends /../includes/main.pug

block meta
  -
    meta = {
      title: "The PewDiePack: Faithful - Ewan Howell",
      description: "This is The PewDiePack: Faithful",
      image: "resourcepacks/the-pewdiepack-faithful/cover.webp",
      colour: "#695764",
      icon: "resourcepacks/the-pewdiepack-faithful/icon.webp"
    }