extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Craftmas Remastered - Ewan Howell",
      description: "The remastered Christmas resource pack!",
      image: "resourcepacks/craftmas-remastered/cover.webp",
      colour: "#84726f",
      icon: "resourcepacks/craftmas-remastered/icon.webp"
    }