extends /../includes/main.pug

block meta
  -
    meta = {
      title: "The Cursed Pack - Ewan Howell",
      description: "A cursed resource pack",
      image: "resourcepacks/the-cursed-pack/cover.webp",
      colour: "#866833",
      icon: "resourcepacks/the-cursed-pack/icon.webp"
    }