doctype html
html
	head
		title Ewan Howell
		link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/logo/logo_16.webp", data-href  =  "/assets/images/logo/eh_16.png")
		link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/logo/logo_32.webp", data-href  =  "/assets/images/logo/eh_32.png")
		meta(property = "og:type", content = "website")
		meta(property = "og:title", content = "Ewan Howell")
		meta(property = "og:description", content = "ewanhowell.com")
		meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/f8thful/farm.webp`)
		meta(name = "theme-color", content = "#449518")
		include /../includes/head.pug
	include /../includes/body.pug