doctype html
html
	head
		title Resource Packs - Ewan Howell
		link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/logo/logo_16.webp")
		link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/logo/logo_32.webp")
		meta(property = "og:type", content = "website")
		meta(property = "og:title", content = "Resource Packs - Ewan Howell")
		meta(property = "og:description", content = "View all of Ewan Howell's resource packs")
		meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/f8thful/images/farm.webp`)
		meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/f8thful/images/farm.webp`)
		meta(property = "twitter:card", content="summary_large_image")
		meta(name = "theme-color", content = "#449518")
		include /../includes/head.pug
	include /../includes/body.pug