doctype html
html
  head
    title Nether Update - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/resourcepacks/nether-update/icon.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/resourcepacks/nether-update/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Nether Update - Ewan Howell")
    meta(property = "og:description", content = "This pack aims to add in all the 1.16 nether features")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/nether-update/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/nether-update/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#4c2920")
    include /../includes/head.pug
  include /../includes/body.pug