extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Nether Update - Ewan Howell",
      description: "This pack aims to add in all the 1.16 nether features",
      image: "resourcepacks/nether-update/cover.webp",
      colour: "#4c2920",
      icon: "resourcepacks/nether-update/icon.webp"
    }