extends /../includes/main.pug

block meta
  -
    meta = {
      title: "pixelBlocks - Ewan Howell",
      description: "The pack where every pixel is a block texture!",
      image: "resourcepacks/pixelblocks/cover.webp",
      colour: "#4d492d",
      icon: "resourcepacks/pixelblocks/icon.webp"
    }