extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Splash Art Customiser - Ewan Howell",
      description: "Customise the start screen's splash art, by adding your own!",
      image: "plugins/splash-art-customiser/cover.webp",
      colour: "#4a4e61",
      icon: "plugins/splash-art-customiser/icon.webp"
    }