extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Entity Healthbars: Faithful - Ewan Howell",
      description: "The pack where every entity has a healthbar! Now in higher resolutions!",
      image: "resourcepacks/entity-healthbars-faithful/cover.webp",
      colour: "#734f30",
      icon: "resourcepacks/entity-healthbars-faithful/icon.webp"
    }