extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Flat Packed - Ewan Howell",
      description: "A Flat, Vanilla Style Resource Pack",
      image: "resourcepacks/flat-packed/cover.webp",
      colour: "#645216",
      icon: "resourcepacks/flat-packed/icon.webp"
    }