doctype html
html
  head
    title Flat Packed - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/resourcepacks/flat-packed/icon.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/resourcepacks/flat-packed/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Flat Packed - Ewan Howell")
    meta(property = "og:description", content = "A Flat, Vanilla Style Resource Pack")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/flat-packed/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/flat-packed/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#645216")
    include /../includes/head.pug
  include /../includes/body.pug