doctype html
html
  head
    title Worm - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/dungeonsmods/worm/icon.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/dungeonsmods/worm/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Worm - Ewan Howell")
    meta(property = "og:description", content = "The Worm pet mod for Minecraft Dungeons")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/dungeonsmods/worm/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/dungeonsmods/worm/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#211e21")
    include /../includes/head.pug
  include /../includes/body.pug