extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Worm - Ewan Howell",
      description: "The Worm pet mod for Minecraft Dungeons",
      image: "dungeonsmods/worm/cover.webp",
      colour: "#211e21",
      icon: "dungeonsmods/worm/icon.webp"
    }