extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Tiny Blocks - Ewan Howell",
      description: "A pack that makes all blocks tiny!",
      image: "resourcepacks/tiny-blocks/cover.webp",
      colour: "#8b6e33",
      icon: "resourcepacks/tiny-blocks/icon.webp"
    }