extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Companion Cube - Ewan Howell",
      description: "The Companion Cube pet mod for Minecraft Dungeons",
      image: "dungeonsmods/companion-cube/cover.webp",
      colour: "#26182a",
      icon: "dungeonsmods/companion-cube/icon.webp"
    }