extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Sheepified - Ewan Howell",
      description: "The pack where everything is a Sheep!",
      image: "resourcepacks/sheepified/cover.webp",
      colour: "#73725e",
      icon: "resourcepacks/sheepified/icon.webp"
    }