extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Preview Scene Customiser - Ewan Howell",
      description: "Create your very own preview scenes. Download preview scenes from the Preview Scene Store. Edit and manage existing preview scenes.",
      image: "plugins/preview-scene-customiser/cover.webp",
      colour: "#313a2b",
      icon: "plugins/preview-scene-customiser/icon.webp"
    }