doctype html
html
  head
    title Preview Scene Customiser - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/plugins/preview-scene-customiser/icon.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/plugins/preview-scene-customiser/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Preview Scene Customiser - Ewan Howell")
    meta(property = "og:description", content = "Create your very own preview scenes. Download preview scenes from the Preview Scene Store. Edit and manage existing preview scenes.")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/plugins/preview-scene-customiser/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/plugins/preview-scene-customiser/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#313a2b")
    include /../includes/head.pug
  include /../includes/body.pug