extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Sheepified Remastered - Ewan Howell",
      description: "The pack where everything is a Sheep!",
      image: "resourcepacks/sheepified-remastered/cover.webp",
      colour: "#483a2e",
      icon: "resourcepacks/sheepified-remastered/icon.webp"
    }