extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Boomerangs - Ewan Howell",
      description: "Turn Tridents into Boomerangs!",
      image: "resourcepacks/boomerangs/cover.webp",
      colour: "#5e7476",
      icon: "resourcepacks/boomerangs/icon.webp"
    }