doctype html
html
  head
    title Ewan Howell - Chillagers
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/chillagers/pack.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/chillagers/pack.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - Chillagers")
    meta(property = "og:description", content = "A pack to replace Evokers with Chillagers (Iceologers)")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/chillagers/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/chillagers/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#5d6366")
    include /../includes/head.pug
  include /../includes/body.pug