extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Chillagers - Ewan Howell",
      description: "A pack to replace Evokers with Chillagers (Iceologers)",
      image: "resourcepacks/chillagers/cover.webp",
      colour: "#5d6366",
      icon: "resourcepacks/chillagers/icon.webp"
    }