extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Craftmas - Ewan Howell",
      description: "The Christmas themed resource pack",
      image: "resourcepacks/craftmas/cover.webp",
      colour: "#cab1a3",
      icon: "resourcepacks/craftmas/icon.webp"
    }