extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Packommunity - Ewan Howell",
      description: "A pack made entirely from community suggestions",
      image: "resourcepacks/packommunity/cover.webp",
      colour: "#252513",
      icon: "resourcepacks/packommunity/icon.webp"
    }