extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Minecarts with Wheels: Faithful - Ewan Howell",
      description: "Add wheels to Minecarts",
      image: "resourcepacks/minecarts-with-wheels-faithful/cover.webp",
      colour: "#586740",
      icon: "resourcepacks/minecarts-with-wheels-faithful/icon.webp"
    }