extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Swarm Of Bees - Ewan Howell",
      description: "A pack where bees come in swarms!",
      image: "resourcepacks/swarm-of-bees/cover.webp",
      colour: "#344731",
      icon: "resourcepacks/swarm-of-bees/icon.webp"
    }