doctype html
html
  head
    title Ewan Howell - Cursed Spiders
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/cursed-spiders/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/cursed-spiders/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - Cursed Spiders")
    meta(property = "og:description", content = "The cursed spiders resource pack")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/cursed-spiders/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/cursed-spiders/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#434e26")
    include /../includes/head.pug
  include /../includes/body.pug