extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Cursed Spiders - Ewan Howell",
      description: "The cursed spiders resource pack",
      image: "resourcepacks/cursed-spiders/cover.webp",
      colour: "#434e26",
      icon: "resourcepacks/cursed-spiders/icon.webp"
    }