extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Borderlined - Ewan Howell",
      description: "A pack that adds an outline to everything!",
      image: "resourcepacks/borderlined/cover.webp",
      colour: "#4c4835",
      icon: "resourcepacks/borderlined/icon.webp"
    }