extends /../includes/main.pug

block meta
  -
    meta = {
      title: "WALL-E - Ewan Howell",
      description: "The WALL-E pet mod for Minecraft Dungeons",
      image: "dungeonsmods/wall-e/cover.webp",
      colour: "#131313",
      icon: "dungeonsmods/wall-e/icon.webp"
    }