extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Visual Shulker Labels: 2D Display - Ewan Howell",
      description: "Label your shulkers with style",
      image: "resourcepacks/visual-shulker-labels-2d-display/cover.webp",
      colour: "#453634",
      icon: "resourcepacks/visual-shulker-labels-2d-display/icon.webp"
    }