extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Quindent - Ewan Howell",
      description: "The 5 pronged Trident",
      image: "resourcepacks/quindent/cover.webp",
      colour: "#23324f",
      icon: "resourcepacks/quindent/icon.webp"
    }