extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Chest Converter - Ewan Howell",
      description: "Convert the chest textures between the 1.14 and 1.15 formats",
      image: "minecraft/mojangstudios.webp",
      colour: "#A16B23"
    }