doctype html
html
  head
    title Ewan Howell - Caelesti
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/caelesti/pack.webp", data-href  =  "/assets/images/logo/eh_16.png")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/caelesti/pack.webp", data-href  =  "/assets/images/logo/eh_32.png")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - Caelesti")
    meta(property = "og:description", content = "A heavily OptiFine reliant Vanilla+ pack")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/caelesti/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/caelesti/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#1b4f42")
    include /../includes/head.pug
  include /../includes/body.pug