extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Caelesti - Skaliber",
      description: "A heavily OptiFine reliant Vanilla+ pack",
      image: "resourcepacks/caelesti/cover.webp",
      colour: "#1b4f42",
      icon: "resourcepacks/caelesti/icon.webp"
    }