extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Skeleton Physics - Ewan Howell",
      description: "Give skeletons physics!",
      image: "resourcepacks/skeleton-physics/cover.webp",
      colour: "#617349",
      icon: "resourcepacks/skeleton-physics/icon.webp"
    }