doctype html
html
  head
    title Ewan Howell - Cave Update
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/cave-update/pack.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/cave-update/pack.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - Cave Update")
    meta(property = "og:description", content = "The 1.17 Recreation Resource Pack")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/cave-update/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/cave-update/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#45402b")
    include /../includes/head.pug
  include /../includes/body.pug