extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Cave Update - Ewan Howell",
      description: "The 1.17 Recreation Resource Pack",
      image: "resourcepacks/cave-update/cover.webp",
      colour: "#45402b",
      icon: "resourcepacks/cave-update/icon.webp"
    }