extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Strider - Ewan Howell",
      description: "The Strider pet mod for Minecraft Dungeons",
      image: "dungeonsmods/strider/cover.webp",
      colour: "#655625",
      icon: "dungeonsmods/strider/icon.webp"
    }