extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Rolling Entities - Ewan Howell",
      description: "The pack where every entity rolls.",
      image: "resourcepacks/rolling-entities/cover.webp",
      colour: "#3c472f",
      icon: "resourcepacks/rolling-entities/icon.webp"
    }