doctype html
html
  head
    title hatsondogs - Elephant Ravagers
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/elephant-ravagers/pack.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/elephant-ravagers/pack.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "hatsondogs - Elephant Ravagers")
    meta(property = "og:description", content = "Ravagers are now Elephants!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/elephant-ravagers/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/elephant-ravagers/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#757460")
    include /../includes/head.pug
  include /../includes/body.pug