extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Dragonflies - Ewan Howell",
      description: "A pack that adds Dragonflies to the game!",
      image: "resourcepacks/dragonflies/cover.webp",
      colour: "#2b381f",
      icon: "resourcepacks/dragonflies/icon.webp"
    }