doctype html
html
  head
    title Ewan Howell - Dragonflies
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/dragonflies/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/dragonflies/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - Dragonflies")
    meta(property = "og:description", content = "A pack that adds Dragonflies to the game!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/dragonflies/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/dragonflies/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#2b381f")
    include /../includes/head.pug
  include /../includes/body.pug