extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Packstralia - Ewan Howell",
      description: "The pack where everything is upside down",
      image: "resourcepacks/packstralia/cover.webp",
      colour: "#5f3a2d",
      icon: "resourcepacks/packstralia/icon.webp"
    }