.img-block(style = 'background-image: url("/assets/images/home/logo_3d.webp")')
  .container
    h1 Ewan Howell
.container
  .text-block
    .text-box
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .text-box
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .text-box
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
.img-block(style = 'background-image: url("/assets/images/home/wynem.webp")')
  .container
    h1 Wynem
.container
  .text-block
    .text-box
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .text-box
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .text-box
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
.img-block(style = 'background-image: url("/assets/images/home/f8thful.webp")')
  .container
    h1 Minecraft
.container
  .text-block
    .text-box
      p I make a large variety of resource packs for Java edition, with some ported across to bedrock edition. These can range from completely redesigning the in-game textures, to adding healthbars to every entiy, to making every entity roll around. You can see all my resource packs <a href = "/resourcepacks" is = "f-a">here</a>.
    .text-box
      p I have created some <a href = "https://www.blockbench.net" target = "_blank">Blockbench</a> plugins that extend the functionality of Blockbench. The largest plugin is CEM Template Loader, which allows you to load template Minecraft Java edition entity models, as well as animate them inside Blockbench. All of my plugins can be found <a href = "/plugins" is = "f-a">here</a>.
    .text-box
      p I create tools and scripts to help aid with resource pack creation. These tools include one that shows what textures you are missing, one that compresses JSON files to smaller file sizes, a converter to convert compact CTM to overlay or full CTM, and even a resource pack converter that converts packs between game versions. They can be found <a href = "https://github.com/ewanhowell5195/ewanhowell5195.github.io/releases" target = "_blank">here</a> and <a href = "https://github.com/ewanhowell5195?tab=repositories" target = "_blank">here</a>.