.page-container
  .img-block(style = 'background-image: url("/assets/images/home/logo_3d.webp")')
    .container
      h1 Ewan Howell
  .container
    .text-block
      h2 Hello, welcome to my website!
      .text-box
        p My name is Ewan and I make lots of different things.
        p I am a Web Developer, Discord Bot Developer, and a Resource Pack Creator. This website is home to some of those projects, and also links to some not on this website.
        p You can find out more about some of my main projects futher down on this page.
  .img-block(style = 'background-image: url("/assets/images/home/wynem.webp")')
    .container
      h1 Wynem
  .container
    .text-block
      .text-box
        p Wynem is a multipurpose Discord bot that has a vast array of features for all sorts of purposes. From Moderation, to Fun, to Image Editing!
      .text-box
        p Wynem is a Discord bot that I have been working on by myself since late 2019. I had the idea for the bot when I didn't like the number of bots in my Discord server, so I set out to create my own Discord bot that would eventually replace all of the bots in my server with one single bot!
      .text-box
        p After a lot of requests, the bot was opened to the public and now anyone can add it to their server.
        p If you are interested in a fun Discord bot, which is also packaged with server management and moderation commands, I highly recommend adding Wynem to your server and checking it out!
        p You can find out more information about Wynem at <a href = "https://www.wynem.com/" target = "_blank">this link</a>!
  .img-block(style = 'background-image: url("/assets/images/home/f8thful.webp")')
    .container
      h1 Minecraft
  .container
    .text-block
      .text-box
        p I make a large variety of resource packs for Java edition, with some ported across to bedrock edition. These can range from completely redesigning the in-game textures, to adding healthbars to every entiy, to making every entity roll around. You can see all my resource packs <a href = "/resourcepacks" is = "f-a">here</a>.
      .text-box
        p I have created some <a href = "https://www.blockbench.net" target = "_blank">Blockbench</a> plugins that extend the functionality of Blockbench. The largest plugin is CEM Template Loader, which allows you to load template Minecraft Java edition entity models, as well as animate them inside Blockbench. All of my plugins can be found <a href = "/plugins" is = "f-a">here</a>.
      .text-box
        p I create tools and scripts to help aid with resource pack creation. These tools include one that shows what textures you are missing, one that compresses JSON files to smaller file sizes, a converter to convert compact CTM to overlay or full CTM, and even a resource pack converter that converts packs between game versions. They can be found <a href = "https://github.com/ewanhowell5195/ewanhowell5195.github.io/releases" target = "_blank">here</a> and <a href = "https://github.com/ewanhowell5195?tab=repositories" target = "_blank">here</a>.