extends /../includes/main.pug

block meta
  -
    meta = {
      title: "4thful - Ewan Howell",
      description: "The Vanilla 4x4 Resource Pack",
      image: "resourcepacks/4thful/cover.webp",
      colour: "#605537",
      icon: "resourcepacks/4thful/icon.webp"
    }