doctype html
html
  head
    title Ewan Howell - PlayerModelMobs
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/playermodelmobs/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/playermodelmobs/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - PlayerModelMobs")
    meta(property = "og:description", content = "The Pack where every entity is a Player Model!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/playermodelmobs/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/playermodelmobs/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#453323")
    include /../includes/head.pug
  include /../includes/body.pug