extends /../includes/main.pug

block meta
  -
    meta = {
      title: "PlayerModelMobs - Ewan Howell",
      description: "The Pack where every entity is a Player Model!",
      image: "resourcepacks/playermodelmobs/cover.webp",
      colour: "#453323",
      icon: "resourcepacks/playermodelmobs/icon.webp"
    }