doctype html
html
  head
    title Butterflies - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/resourcepacks/butterflies/icon.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/resourcepacks/butterflies/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Butterflies - Ewan Howell")
    meta(property = "og:description", content = "A pack to replace bees with butterflies")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/butterflies/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/butterflies/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#484325")
    include /../includes/head.pug
  include /../includes/body.pug