extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Butterflies - Ewan Howell",
      description: "A pack to replace bees with butterflies",
      image: "resourcepacks/butterflies/cover.webp",
      colour: "#484325",
      icon: "resourcepacks/butterflies/icon.webp"
    }