template#arrow-icon: include /svg/arrow_right.svg
.container
  #tabs
    #search(onclick = "this.children[1].focus()")
      include /svg/search.svg
      input
  #versions
    #no-results
      #no-results-text No results 