doctype html
html
  head
    title Dungeons Mods - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/logo/logo_16.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/logo/logo_32.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Dungeons Mods - Ewan Howell")
    meta(property = "og:description", content = "View all of Ewan Howell's dungeons mods")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/dungeonsmods/f8thful-dungeons/images/zombie.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/dungeonsmods/f8thful-dungeons/images/zombie.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#4C631D")
    include /../includes/head.pug
  include /../includes/body.pug