@import "buttons.styl"

page-body
  background-image: linear-gradient(to right, var(--color-grey-darker) 50%, var(--color-grey) 50%)

.container
  max-width: var(--content-width)
  margin: 0 auto
  display: flex
  flex-direction: row
  align-items: stretch
  
#content-container
  flex: 1
  background-color: var(--color-grey-darker)
  overflow-x: hidden

header
  height: 228px
  background-position: 50% 50%
  background-size: cover
  position: relative
  box-shadow: var(--box-shadow)

#header-contents
  position: absolute
  inset: 0
  backdrop-filter: blur(4px)
  padding: 30px

#title
  font-size: 2.75rem
  font-weight: 700
  text-shadow: -5px 5px 1px var(--color-text-shadow)
  margin-bottom: 10px
  
#subtitle
  text-shadow: -3px 3px 1px var(--color-text-shadow)

.spacer
  flex: 1

.hidden
  display: none !important

#optifine
  display: flex
  background-image: var(--gradient-optifine)
  min-height: 50px
  box-shadow: var(--box-shadow)
  font-weight: 700
  text-shadow: 0 3px 1px var(--color-text-shadow-optifine)
  color: var(--color-text-optifine)
  overflow: hidden
  width: 100%
  z-index: 1
  position: relative

  .optifine-desc
    padding: 10px
    display: flex
    align-items: center
    white-space: pre

  #optifine-img
    width: 50px
    display: flex
    align-items: center
    
    img
      height: 50px

  #optifine-info
    display: flex
    align-items: center

    .text::after
      content: "More Information"
      
  a .text::after
    content: "Download OptiFine"

  a, #optifine-info
    display: flex
    align-items: center
    padding: 0 15px
    cursor: pointer
    transition: background-color .15s
    user-select: none
    color: var(--color-text-optifine)
    text-decoration: none

    & > *
      transition: transform .15s

    span
      text-align: center

    svg
      padding-right: 10px
      min-width: 28px
      min-height: 28px
      fill: var(--color-text-optifine)
      filter: drop-shadow(0 3px 1px var(--color-text-shadow-optifine))

    &:hover
      background-color: #A93931

    &:active > *
      transform: translateY(4px)

#sidebar
  background-color: var(--color-grey)
  min-height: calc(100vh - var(--header-height) * 2 - 40px)
  width: 256px
  padding: 20px
  box-shadow: -5px 0 10px var(--color-box-shadow)
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  
#sidebar-title
  font-size: 1.75rem
  font-weight: 700
  text-shadow: -4px 4px 1px var(--color-text-shadow)
  margin-bottom: 20px
  
.sidebar-subtitle
  font-size: 1.25rem
  text-shadow: -3px 3px 1px var(--color-text-shadow)
  margin-bottom: 20px
  
.sidebar-links
  display: flex
  flex-direction: column
  margin-bottom: 40px
  width: 100%
  gap: 15px
  
.link-example
  background-color: var(--color-download)
  
#content
  padding: 20px
  
.section
  display: flex
  flex-direction: column
  gap: 20px
  width: 100%
  
  img
    object-fit: contain
    filter: drop-shadow(var(--box-shadow))

.heading
  font-size: 2rem
  font-weight: 700
  text-shadow: -3px 3px 1px var(--color-text-shadow)
  
  &:not(:first-child)
    margin-top: 20px

.text
  white-space: pre-wrap
  line-height: 24px
  
.tablelist
  td
    white-space: pre-wrap

  td:not(:last-child)
    padding-right: 16px
  
  td:first-child
    font-weight: 600
    white-space: nowrap !important
    display: list-item
    list-style: inside

.tab-container
  filter: drop-shadow(var(--box-shadow))

  &.light
    .active
      background: var(--color-grey-light)
    
    .tab-sections
      background-color: var(--color-grey-light)
    
    .tabs::-webkit-scrollbar-track
      background-color: var(--color-grey-light)

.tabs
  display: flex
  width: 100%
  gap: 10px
  padding: 0 10px
  max-width: calc(100% - 20px)
  overflow-x: auto
  
  &::-webkit-scrollbar-track
    background-color: var(--color-grey)

.tab
  min-height: 18px
  background-color: var(--color-grey-dark)
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  border-top: 2px solid transparent
  transition: background-color .15s, border-top .15s
  user-select: none
  padding: 10px 15px
  text-align: center
  
  &.active
    background-color: var(--color-grey)
    border-top: 2px solid var(--color-red-light)

.sections
  background-color: var(--color-grey)
  padding: 20px
  flex: 1
  z-index: 1
  position: relative
  
.tab-section
  display: none
  
.selected
  display: flex
    
code
  font-family: consolas, monospace
  background-color: black
  padding: 0 4px
  border: 1px solid var(--color-green)
  
  &.light
    background-color: var(--color-grey-darker)
  
.step
  font-size: 1.75rem
  margin-top: 20px
  
  &::before
    content: attr(data-step)
    margin-right: 10px
    
.entry
  font-size: 1.75rem
  margin-top: 20px
  
  &::before
    content: "-"
    margin-right: 10px
    
.codeblock
  background-color: var(--color-grey)
  font-family: consolas, monospace
  box-shadow: var(--box-shadow)

  &.light1
    background-color: var(--color-grey-light)
  
  &.light2
    background-color: #505050

.codeblock-banner
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px
  border-bottom: 2px solid rgba(255,255,255,0.25)

.codeblock-name
  opacity: 0.5

.codeblock-copy
  display: flex
  cursor: pointer
  gap: 5px
  align-items: center
  user-select: none
  opacity: 0.5
  transition: opacity .15s
  position: relative
  
  svg
    fill: var(--color-text-white)
    width: 18px
    height: 18px
    
  &:hover
    opacity: 1
  
.codeblock-content
  padding: 10px
  white-space: pre-wrap
  
a
  color: var(--color-link-blue)