template#link-icon: include /assets/images/svg/open_in_new.svg
template#local-icon: include /assets/images/svg/local_link.svg
template#youtube-icon: include /assets/images/svg/youtube.svg
.container
  #content-container
    header
      #header-background
      #header-contents
        #title
        #subtitle
    #content
      p todo
  aside#sidebar
    #sidebar-title Useful Links