template#close-icon: include /assets/images/svg/close.svg
template#download-icon: include /assets/images/svg/download.svg
template#link-icon: include /assets/images/svg/open_in_new.svg
template#local-icon: include /assets/images/svg/local_link.svg
template#youtube-icon: include /assets/images/svg/youtube.svg
template#copy-icon: include /assets/images/svg/copy.svg
.container
  #content-container
    header
      #header-background
      #header-contents
        #title
        #subtitle
    #optifine.hidden
      #optifine-img
        img(src = "/assets/images/logo/optifine.webp")
      .optifine-desc This feature requires OptiFine
      .spacer
      #optifine-info
        include /assets/images/svg/info.svg
        span.text
      a(href = "https://optifine.net/downloads", target = "_blank")
        include /assets/images/svg/download.svg
        span.text
    #mobile-links.collapsed
      #mobile-links-header
        h1 Useful Links
        include /assets/images/svg/arrow_right.svg
      #mobile-links-content
    #content
  aside#sidebar
    #sidebar-links
      .sidebar-title Useful Links
    #sidebar-contents
      .sidebar-title Table of Contents
      #sidebar-contents-contents