extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Better 3D - Ewan Howell",
      description: "A subtle 3D resource pack",
      image: "resourcepacks/better-3d/cover.webp",
      colour: "#816f28",
      icon: "resourcepacks/better-3d/icon.webp"
    }