extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Fences+ - Ewan Howell",
      description: "The fence improvement resource pack",
      image: "resourcepacks/fences-plus/cover.webp",
      colour: "#645324",
      icon: "resourcepacks/fences-plus/icon.webp"
    }