extends /../includes/main.pug

block meta
  -
    meta = {
      title: "F8thful - Ewan Howell",
      description: "The Vanilla 8x8 Resource Pack",
      image: "resourcepacks/f8thful/cover.webp",
      colour: "#976c28",
      icon: "resourcepacks/f8thful/icon.webp"
    }