doctype html
html
  head
    title F8thful - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/resourcepacks/f8thful/icon.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/resourcepacks/f8thful/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "F8thful - Ewan Howell")
    meta(property = "og:description", content = "The Vanilla 8x8 Resource Pack")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/f8thful/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/f8thful/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#976c28")
    include /../includes/head.pug
  include /../includes/body.pug