extends /../includes/main.pug

block meta
  -
    meta = {
      title: "The Warden - Ewan Howell",
      description: "The Warden pet mod for Minecraft Dungeons",
      image: "dungeonsmods/the-warden/cover.webp",
      colour: "#2f1c20",
      icon: "dungeonsmods/the-warden/icon.webp"
    }