doctype html
html
  head
    title The Warden - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/dungeonsmods/the-warden/icon.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/dungeonsmods/the-warden/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "The Warden - Ewan Howell")
    meta(property = "og:description", content = "The Warden pet mod for Minecraft Dungeons")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/dungeonsmods/the-warden/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/dungeonsmods/the-warden/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#2f1c20")
    include /../includes/head.pug
  include /../includes/body.pug