extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Plugin Loader 2.0 - Ewan Howell",
      description: "Replace the default Blockbench Plugin Loader interface with an improved and redesigned Plugin Loader interface.",
      image: "plugins/plugin-loader-2-0/cover.webp",
      colour: "#23272c",
      icon: "plugins/plugin-loader-2-0/icon.webp"
    }