extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Manhacks - Ewan Howell",
      description: "The Manhack pet mod for Minecraft Dungeons",
      image: "dungeonsmods/manhacks/cover.webp",
      colour: "#2d1925",
      icon: "dungeonsmods/manhacks/icon.webp"
    }