extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Striderchan - Ewan Howell",
      description: "The Striderchan pet mod for Minecraft Dungeons",
      image: "dungeonsmods/striderchan/cover.webp",
      colour: "#300b0c",
      icon: "dungeonsmods/striderchan/icon.webp"
    }