extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Striderchan - Ewan Howell",
      description: "The Pack where every entity is a Player Model!",
      image: "resourcepacks/striderchan/cover.webp",
      colour: "#6b2d14",
      icon: "resourcepacks/striderchan/icon.webp"
    }