extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Entity Healthbars - Ewan Howell",
      description: "The pack where every entity has a healthbar!",
      image: "resourcepacks/entity-healthbars/cover.webp",
      colour: "#63482b",
      icon: "resourcepacks/entity-healthbars/icon.webp"
    }