extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Mob Vote - Ewan Howell",
      description: "The pack that adds the Mob Vote entities.",
      image: "resourcepacks/mob-vote/cover.webp",
      colour: "#45552d",
      icon: "resourcepacks/mob-vote/icon.webp"
    }