extends /../includes/main.pug

block meta
  -
    meta = {
      title: "CTM Converter - Ewan Howell",
      description: "Convert compact CTM to full or overlay CTM",
      image: "misc/ctm.webp",
      colour: "#9C4817"
    }