.container
  max-width: var(--content-width)
  margin: 0 auto
  min-height: calc(100% - var(--header-height))
  padding: 0 20px
  
h1
  margin: 0
  padding: 22px 0
  
#output
  padding: 20px
  display: flex
  flex-direction: column
  gap: 20px

canvas, img
  image-rendering: pixelated

.ctm-compact-template
  max-width: 320px
  
.ctm-full-template
  max-width: 768px
  
.ctm-overlay-template
  max-width: 448px
  
.ctm-preview-template
  max-width: var(--content-width)