template#download-icon: include /assets/images/svg/download.svg
template#arrow-left: include /assets/images/svg/arrow_left.svg
template#arrow-right: include /assets/images/svg/arrow_right.svg
.container
  h1 CTM Converter
  p
    | This is a tool that allows you to convert 
    a(href = "https://github.com/sp614x/optifine/blob/master/OptiFineDoc/doc/ctm.properties#L192", target = "_blank") compact CTM
    |  to either 
    a(href = "https://github.com/sp614x/optifine/blob/master/OptiFineDoc/doc/ctm.properties#L181", target = "_blank") full CTM
    | , or 
    a(href = "https://github.com/sp614x/optifine/blob/master/OptiFineDoc/doc/ctm.properties#L74", target = "_blank") overlay CTM
    | .
  p
    | This is also available through some commands on Discord: 
    a(href = "https://www.wynem.com?commands=minecraft/resourcepacks&command=ctmconverter" target = "_blank") ctmconverter
    | , 
    a(href = "https://www.wynem.com?commands=minecraft/resourcepacks&command=ctmpreviewer" target = "_blank") ctmpreviewer
    | , and 
    a(href = "https://www.wynem.com?commands=minecraft/resourcepacks&command=ctmsplitter" target = "_blank") ctmsplitter
  h3 CTM Compact Template:
  img.popupable.ctm-compact-template(scale = "1024", src = "/../assets/images/minecraft/compact.png")
  p Please provide either a CTM compact template, or the 5 individual CTM compact tiles.
  file-input(multiple, limit = "5")
  #output