doctype html
html
  head
    title Ewan Howell - Pack & White: Faithful
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/pack-and-white-faithful/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/pack-and-white-faithful/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - Pack & White: Faithful")
    meta(property = "og:description", content = "The black and white resource pack. Now in 32x!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/pack-and-white-faithful/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/pack-and-white-faithful/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#302e2d")
    include /../includes/head.pug
  include /../includes/body.pug