extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Pack & White: Faithful - Ewan Howell",
      description: "The black and white resource pack. Now in 32x!",
      image: "resourcepacks/pack-and-white-faithful/cover.webp",
      colour: "#302e2d",
      icon: "resourcepacks/pack-and-white-faithful/icon.webp"
    }