doctype html
html
  head
    title ItsChawk - Overgrowth
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/overgrowth/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/overgrowth/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "ItsChawk - Overgrowth")
    meta(property = "og:description", content = "Minecraft but overgrown")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/overgrowth/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/overgrowth/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#6c5749")
    include /../includes/head.pug
  include /../includes/body.pug