extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Overgrowth - ItsChawk",
      description: "Minecraft but overgrown",
      image: "resourcepacks/overgrowth/cover.webp",
      colour: "#6c5749",
      icon: "resourcepacks/overgrowth/icon.webp"
    }