extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Packtober - Ewan Howell",
      description: "The Halloween themed resource pack",
      image: "resourcepacks/packtober/cover.webp",
      colour: "#51391a",
      icon: "resourcepacks/packtober/icon.webp"
    }