extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Sheep Ender Dragon - Ewan Howell",
      description: "Turns the Ender Dragon into a Sheep!",
      image: "resourcepacks/sheep-ender-dragon/cover.webp",
      colour: "#3e2955",
      icon: "resourcepacks/sheep-ender-dragon/icon.webp"
    }