extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Visual Shulker Labels - Ewan Howell",
      description: "Label your shulkers with style",
      image: "resourcepacks/visual-shulker-labels/cover.webp",
      colour: "#3a3333",
      icon: "resourcepacks/visual-shulker-labels/icon.webp"
    }