doctype html
html
  head
    title Ewan Howell - OLEDcraft
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/oledcraft/pack.webp", data-href  =  "/assets/images/logo/eh_16.png")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/oledcraft/pack.webp", data-href  =  "/assets/images/logo/eh_32.png")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - OLEDcraft")
    meta(property = "og:description", content = "The Darkest Minecraft Dark Mode")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/oledcraft/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/oledcraft/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#0a0a0a")
    include /../includes/head.pug
  include /../includes/body.pug