extends /../includes/main.pug

block meta
  -
    meta = {
      title: "OLEDcraft - Ewan Howell",
      description: "The Darkest Minecraft Dark Mode",
      image: "resourcepacks/oledcraft/cover.webp",
      colour: "#0a0a0a",
      icon: "resourcepacks/oledcraft/icon.webp"
    }