extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Chubby Cheeks - Ninni",
      description: "A pack that remakes entity model",
      image: "resourcepacks/chubby-cheeks/cover.webp",
      colour: "#5f3f28",
      icon: "resourcepacks/chubby-cheeks/icon.webp"
    }