doctype html
html
  head
    title Ninni - Chubby Cheeks
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/chubby-cheeks/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/chubby-cheeks/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ninni - Chubby Cheeks")
    meta(property = "og:description", content = "A pack that remakes entity model")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/chubby-cheeks/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/chubby-cheeks/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#5f3f28")
    include /../includes/head.pug
  include /../includes/body.pug