.container
  max-width: var(--content-width)
  margin: 0 auto
  flex: 1
  display: flex
  flex-direction: column
  min-height: calc(100% - var(--header-height))

.hidden
  display: none!important

.spacer
  flex: 1

#banner
  position: relative
  overflow: hidden
  box-shadow: var(--box-shadow)

#banner-background
  width: 100%
  height: 228px
  background-size: cover
  background-position: 50% 50%
  filter: blur(4px)
  
#banner-content
  position: absolute
  width: 100%
  top: 0
  left: 0

  img
    padding: 50px
    height: 128px
    image-rendering: pixelated
    filter: drop-shadow(0 10px 4px var(--color-text-shadow))
    
#category-name
  position: absolute
  top: 20px
  right: 20px
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 5px
  text-shadow: -2px 2px 1px var(--color-text-shadow)

#optifine
  display: flex
  background-image: var(--gradient-optifine)
  align-items: center
  min-height: 50px
  box-shadow: var(--box-shadow)
  gap: 15px
  font-weight: 700
  text-shadow: 0 3px 1px var(--color-text-shadow-optifine)
  color: var(--color-text-optifine)
  overflow: hidden
  width: 100%
  z-index: 1

  img
    height: 50px

  #optifine-info
    margin-right: -15px

  a, #optifine-info
    height: 50px
    display: flex
    align-items: center
    padding: 0 15px
    cursor: pointer
    transition: background-color .15s
    user-select: none
    color: var(--color-text-optifine)
    text-decoration: none

    & > *
      transition: transform .15s

    span
      text-align: center

    svg
      padding-right: 10px
      min-width: 28px
      min-height: 28px
      fill: var(--color-text-optifine)
      filter: drop-shadow(0 3px 1px var(--color-text-shadow-optifine))

    &:hover
      background-color: #A93931

    &:active > *
      transform: translateY(4px)

#pack-content
  flex: 1
  display: flex

#pack-info
  flex: 1
  display: flex
  flex-direction: column
  align-items: center
  padding-bottom: 60px

#images
  max-width: 720px
  display: flex
  user-select: none
  position: relative
  overflow: hidden
  padding: 30px 0 60px

  img
    max-width: 100%

.image-button
  cursor: pointer
  position: absolute
  top: calc(50% - 50px)
  transform: translateY(-50%)
  padding: 20px
  box-sizing: border-box
  z-index: 1
  opacity: 0
  transition: left .15s, right .15s, opacity .15s, transform .15s

  &#next
    right: -60px

    &:hover
      right: 0
      opacity: 1
      transform: translateY(-50%) scale(1.4)

  &#prev
    left: -60px

    &:hover
      left: 0
      opacity: 1
      transform: translateY(-50%) scale(1.4)

  svg
    overflow: visible

  path
    fill: white
    filter: drop-shadow(4px 4px 1px var(--color-text-shadow))

  &.disabled
    opacity: 0!important
    cursor: default

.showcase-image
  display: none
  cursor: pointer
  width: 720px
  height: 405px

  &:hover ~ #prev
    left: 0
    opacity: 1

  &:hover ~ #next
    right: 0
    opacity: 1

.shown
  display: block
  animation: fadeIn .25s forwards 1
  opacity: 0

  @keyframes fadeIn
    from
      opacity: 0
    to
      opacity: 1

#thumbnail-row 
  display: flex
  width: 100%

  div
    height: 100px
    flex: 1
    background-size: cover
    background-position: 50% 50%
    filter: grayscale(100%)
    opacity: 0.6
    transition: filter .15s, opacity .15s
    cursor: pointer
    
    &:hover
      filter: grayscale(0)
      opacity: 1

  .selected
    filter: grayscale(0)
    opacity: 1
    position: relative
    
    &::after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      right: 0
      height: 5px
      background-color: var(--color-red-light)

#title
  font-size: 4em
  padding: 32px 0 10px
  font-weight: 700
  letter-spacing: 2px

#subtitle
  font-size: 1.5em
  padding-bottom: 16px

#description
  line-height: 1.5em

#description, #subtitle
  white-space: pre-wrap
  text-align: center
  max-width: 900px

#pack-links
  min-width: 256px

#pack-links-contents
  height: calc(100% - 110px)
  background-color: var(--color-grey)
  box-shadow: -10px 0 10px var(--color-box-shadow)
  padding-bottom: 60px

#pack-links-tabs
  display: flex
  justify-content: space-around
  padding: 10px 10px 0
  gap: 10px
  background-color: var(--color-grey-darker)
  user-select: none
  overflow-y: hidden

  div
    height: 38px
    flex: 1
    background-color: var(--color-grey-dark)
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    border-top: 2px solid transparent
    transition: background-color .15s, border-top .15s
    box-shadow: -10px 0 10px var(--color-box-shadow)

  .selected
    background-color: var(--color-grey)
    border-top: 2px solid var(--color-red-light)

#downloads
  width: 100%

  div
    display: none
    width: 100%
    flex-direction: column
    align-items: center
    padding: 15px 0
    gap: 15px
    
    a
      text-decoration: none
      color: var(--color-text-white)
      padding: 10px
      background-color: var(--color-link-blue)
      width: 206px
      display: flex
      align-items: center
      font-weight: 700
      box-shadow: 0 8px 5px rgba(0, 0, 0, .314)
      transition: filter .15s
      filter: hue-rotate(-90deg)
      gap: 4px
      
      & > *
        transition: transform .15s

      svg
        width: 28px
        height: 28px
        filter: drop-shadow(-2px 2px 1px var(--color-svg-shadow))
        fill: white
        
      span
        text-align: center
        flex: 1
        text-shadow: -2px 2px 1px var(--color-text-shadow)
        letter-spacing: 1px
        
      &.mirror
        filter: hue-rotate(0)

      &:hover
        filter: hue-rotate(-100deg) brightness(1.2)
        
        &.mirror
          filter: hue-rotate(-10deg) brightness(1.2)
        
      &:active > *
        transform: translateY(4px)
  
  .selected
    display: flex
    
#links
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 15px
  gap: 15px
  
  h3
    margin: 0

  a
    text-decoration: none
    color: var(--color-text-white)
    padding: 5px 10px
    background-color: var(--color-grey-light)
    width: 206px
    display: flex
    align-items: center
    font-weight: 700
    box-shadow: 0 8px 5px rgba(0, 0, 0, .314)
    transition: filter .15s
    filter: brightness(1.8)
    gap: 4px
    
    & > *
        transition: transform .15s

    svg
      width: 28px
      height: 28px
      filter: drop-shadow(-2px 2px 1px var(--color-svg-shadow))
      fill: white
      
    span
      text-align: center
      flex: 1
      text-shadow: -2px 2px 1px var(--color-text-shadow)
      letter-spacing: 1px

    &:hover
      filter: brightness(2.3)
      
    &:active > *
      transform: translateY(3px)