.container
  max-width: var(--content-width)
  margin: 0 auto
  flex: 1
  display: flex
  flex-direction: column
  min-height: 100%

.hidden
  display: none!important

.spacer
  flex: 1

#banner
  position: relative
  overflow: hidden
  box-shadow: var(--box-shadow)

#banner-background
  width: 100%
  height: 228px
  background-size: cover
  background-position: 50% 50%
  filter: blur(4px)
  
#banner-content
  position: absolute
  top: 0
  left: 0

img#logo
  padding: 50px
  height: 128px
  image-rendering: pixelated
  filter: drop-shadow(0 10px 4px var(--color-text-shadow))

#pack-links
  width: 256px
  background-color: var(--color-grey-light)
  box-shadow: -10px 0 10px var(--color-box-shadow)

#optifine
  display: flex
  background-image: linear-gradient(#912F2D, #922D2F, #83262A, #761E23, #6D1720)
  align-items: center
  min-height: 50px
  box-shadow: var(--box-shadow)
  gap: 15px
  font-weight: 700
  text-shadow: 0 2px 1px var(--color-text-shadow-optifine)
  color: var(--color-text-optifine)
  overflow: hidden
  width: 100%
  z-index: 1

  img
    height: 50px

  a
    height: 50px
    display: flex
    align-items: center
    padding-right: 15px
    cursor: pointer
    transition: background-color .15s, padding-top .15s, margin-bottom .15s
    user-select: none
    color: var(--color-text-optifine)
    text-decoration: none

    svg
      transform: scale(0.7, 0.7)
      fill: var(--color-text-optifine)
      filter: drop-shadow(0 3px 1px var(--color-text-shadow-optifine))

    &:hover
      background-color: #A93931

    &:active
      padding-top: 4px
      margin-bottom: -4px

#pack-content
  flex: 1
  height: calc(100% - 300px)
  display: flex

#pack-info
  flex: 1
  display: flex
  flex-direction: column
  align-items: center

#images
  max-width: 720px
  display: flex
  user-select: none
  position: relative
  overflow: hidden
  padding: 32px 0

  img
    max-width: 100%

.image-button
  cursor: pointer
  position: absolute
  top: calc(50% - 50px)
  transform: translateY(-50%)
  padding: 20px
  box-sizing: border-box
  z-index: 1
  opacity: 0
  transition: left .15s, right .15s, opacity .15s, transform .15s

  &#next
    right: -60px

    &:hover
      right: 0
      opacity: 1
      transform: translateY(-50%) scale(1.4)

  &#prev
    left: -60px

    &:hover
      left: 0
      opacity: 1
      transform: translateY(-50%) scale(1.4)

  svg
    overflow: visible

  path
    fill: white
    filter: drop-shadow(4px 4px 1px var(--color-text-shadow))

  &.disabled
    opacity: 0!important
    cursor: default

.showcase-image
  display: none
  cursor: pointer
  width: 720px
  height: 405px

  &:hover ~ #prev
    left: 0
    opacity: 1

  &:hover ~ #next
    right: 0
    opacity: 1

.shown
  display: block
  animation: fadeIn .25s forwards 1
  opacity: 0

  @keyframes fadeIn
    from
      opacity: 0
    to
      opacity: 1

#thumbnail-row 
  display: flex
  width: 100%

  div
    height: 100px
    flex: 1
    background-size: cover
    background-position: 50% 50%
    filter: grayscale(100%)
    opacity: 0.6
    transition: filter .15s, opacity .15s
    cursor: pointer
    
    &:hover
      filter: grayscale(0)
      opacity: 1

  .selected
    filter: grayscale(0)
    opacity: 1
    position: relative
    
    &::after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      right: 0
      height: 5px
      background-color: var(--color-red-light)

#title
  font-size: 4em
  padding-top: 32px
  font-weight: 700
  letter-spacing: 2px

#subtitle
  font-size: 1.5em
  padding-bottom: 16px

#description, #subtitle
  white-space: pre-wrap
  text-align: center