extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Rebearth Remastered - Ewan Howell",
      description: "The remastered Minecraft Earth themed resource pack!",
      image: "resourcepacks/rebearth-remastered/cover.webp",
      colour: "#483618",
      icon: "resourcepacks/rebearth-remastered/icon.webp"
    }