doctype html
html
  head
    title Rebearth Remastered - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/resourcepacks/rebearth-remastered/icon.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/resourcepacks/rebearth-remastered/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Rebearth Remastered - Ewan Howell")
    meta(property = "og:description", content = "The remastered Minecraft Earth themed resource pack!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/rebearth-remastered/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/rebearth-remastered/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#483618")
    include /../includes/head.pug
  include /../includes/body.pug