extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Barely Default - Mickey Joe Alpha",
      description: "Relatively Improved Default experience",
      image: "resourcepacks/barely-default/cover.webp",
      colour: "#363430",
      icon: "resourcepacks/barely-default/icon.webp"
    }