doctype html
html
  head
    title Mickey Joe Alpha - Barely Default
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/barely-default/pack.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/barely-default/pack.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Mickey Joe Alpha - Barely Default")
    meta(property = "og:description", content = "Relatively Improved Default experience")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/barely-default/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/barely-default/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#363430")
    include /../includes/head.pug
  include /../includes/body.pug