extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Translucencraft - Ewan Howell",
      description: "The dimension switching resource pack!",
      image: "resourcepacks/translucencraft/cover.webp",
      colour: "#515760",
      icon: "resourcepacks/translucencraft/icon.webp"
    }