doctype html
html
  head
    title Translucencraft - Ewan Howell
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/translucencraft/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/translucencraft/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Translucencraft - Ewan Howell")
    meta(property = "og:description", content = "The dimension switching resource pack!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/translucencraft/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/translucencraft/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#515760")
    include /../includes/head.pug
  include /../includes/body.pug