extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Minecraft Title Converter - Ewan Howell",
      description: "Convert any image into the Minecraft title texture format so you can use it in a resource pack",
      image: "minecraft/minecrafttitle.webp",
      colour: "#3B8426"
    }