template#download-icon: include /assets/images/svg/download.svg
.container
  h1 Minecraft Title Converter
  p
    | This is a tool that allows you to convert any image into the Minecraft title texture format so you can use it in a resource pack.
  p
    | This is also available as a 
    a(href = "https://www.wynem.com?commands=minecraft/resourcepacks&command=minecrafttitleconverter" target = "_blank") command on Discord
    | .
  br
  p
    | Optimal image sizes: Any multiple of 
    strong 274x44
    | . Other image sizes should work though.
  p Please provide the texture you would like to convert into a Minecraft title texture.
  file-input
  #output