extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Fences+: Faithful - Ewan Howell",
      description: "The fence improvement resource pack",
      image: "resourcepacks/fences-plus-faithful/cover.webp",
      colour: "#404e3e",
      icon: "resourcepacks/fences-plus-faithful/icon.webp"
    }