extends /../includes/main.pug

block meta
  -
    meta = {
      title: "1.18 Panorama - Ewan Howell",
      description: "Bring the 1.18 panorama into other game versions",
      image: "resourcepacks/1-18-panorama/cover.webp",
      colour: "#3b3839",
      icon: "resourcepacks/1-18-panorama/icon.webp"
    }