doctype html
html
  head
    title 1.18 Panorama - Ewan Howell
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/1-18-panorama/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/1-18-panorama/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "1.18 Panorama - Ewan Howell")
    meta(property = "og:description", content = "Bring the 1.18 panorama into other game versions")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/1-18-panorama/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/1-18-panorama/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#3b3839")
    include /../includes/head.pug
  include /../includes/body.pug