extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Deep Dark - Ewan Howell",
      description: "A pack to improve the bottom of the world!",
      image: "resourcepacks/deep-dark/cover.webp",
      colour: "#5d361f",
      icon: "resourcepacks/deep-dark/icon.webp"
    }