doctype html
html
  head
    title Deep Dark - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/resourcepacks/deep-dark/icon.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/resourcepacks/deep-dark/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Deep Dark - Ewan Howell")
    meta(property = "og:description", content = "A pack to improve the bottom of the world!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/deep-dark/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/deep-dark/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#5d361f")
    include /../includes/head.pug
  include /../includes/body.pug