extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Minecarts with Wheels - Ewan Howell",
      description: "Add wheels to Minecarts",
      image: "resourcepacks/minecarts-with-wheels/cover.webp",
      colour: "#53653b",
      icon: "resourcepacks/minecarts-with-wheels/icon.webp"
    }