doctype html
html
  head
    title Minecarts with Wheels - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/resourcepacks/minecarts-with-wheels/icon.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/resourcepacks/minecarts-with-wheels/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Minecarts with Wheels - Ewan Howell")
    meta(property = "og:description", content = "Add wheels to Minecarts")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/minecarts-with-wheels/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/minecarts-with-wheels/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#53653b")
    include /../includes/head.pug
  include /../includes/body.pug