extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Unused Biome Update - Ewan Howell",
      description: "A pack to bring the biome vote features into the game",
      image: "resourcepacks/unused-biome-update/cover.webp",
      colour: "#463b2a",
      icon: "resourcepacks/unused-biome-update/icon.webp"
    }