doctype html
html
  head
    title Ewan Howell - Fluorescence
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/fluorescence/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/fluorescence/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - Fluorescence")
    meta(property = "og:description", content = "The pack where everything glows!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/fluorescence/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/fluorescence/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#1c1a06")
    include /../includes/head.pug
  include /../includes/body.pug