extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Fluorescence - Ewan Howell",
      description: "The pack where everything glows!",
      image: "resourcepacks/fluorescence/cover.webp",
      colour: "#1c1a06",
      icon: "resourcepacks/fluorescence/icon.webp"
    }