doctype html
html
	head
		title Ewan Howell - Colours
		link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/logo/logo_16.webp")
		link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/logo/logo_32.webp")
		meta(property = "og:type", content = "website")
		meta(property = "og:title", content = "Ewan Howell - Colours")
		meta(property = "og:description", content = "View a colour palette")
		meta(name = "theme-color", content = "#AC3535")
		include /../includes/head.pug
	include /../includes/body.pug