doctype html
html
  head
    title Concraft - Ewan Howell
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/concraft/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/concraft/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Concraft - Ewan Howell")
    meta(property = "og:description", content = "A Flat, Concrete Like Resource Pack")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/concraft/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/concraft/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#284418")
    include /../includes/head.pug
  include /../includes/body.pug