extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Concraft - Ewan Howell",
      description: "A Flat, Concrete Like Resource Pack",
      image: "resourcepacks/concraft/cover.webp",
      colour: "#284418",
      icon: "resourcepacks/concraft/icon.webp"
    }