extends /../includes/main.pug

block meta
  -
    meta = {
      title: "OptiFine Player Models - Ewan Howell",
      description: "Adds a new format that allows you to create OptiFine player models.",
      image: "plugins/optifine-player-models/cover.webp",
      colour: "#1b2028",
      icon: "plugins/optifine-player-models/icon.webp"
    }