.container
  max-width: var(--content-width)
  margin: 0 auto

.hidden
  display: none!important

#tabs
  display: flex
  position: sticky
  top: 0
  z-index: 1
  background-color: var(--color-green)
  box-shadow: var(--box-shadow)
  flex-wrap: wrap
  min-height: var(--header-height)
  
#search
  display: flex
  align-items: center
  background-color: var(--color-green-light)
  width: 168px
  position: relative
  
  svg
    width: 32px
    height: 32px
    padding: 0 4px
    fill: var(--color-text-white)

  input
    position: absolute
    left: 40px
    border: none
    outline: none
    background-color: var(--color-green-light)
    height: 40px
    width: 128px
    font-size: 1.2em
    transition: width .5s
    text-overflow: ellipsis
    padding: 0
    border-radius: 0
    
    &:focus
      width: clamp(128px, calc(100vw - 40px), calc(var(--content-width) - 40px))

.tab
  flex: 1
  display: flex
  min-height: var(--header-height)
  cursor: pointer
  user-select: none
  transition: background-color 0.15s
  text-shadow: var(--text-shadow)
  text-decoration: none
  color: var(--color-text-white)
  text-transform: capitalize
  min-width: 50px
  height: 100%
  align-items: center
  justify-content: center
  
  &:hover
    background-color: var(--color-green-light)
  
.selected
  background-color: var(--color-green-dark)!important
  cursor: default
  
.version
  padding: 0 20px
  display: none

#versions
  padding-bottom: 60px

.shown
  display: block!important
  animation: fadeIn .25s forwards 1
  opacity: 0

  @keyframes fadeIn
    from
      opacity: 0
    to
      opacity: 1

#no-results
  display: none
  
#no-results-text
  display: flex
  justify-content: center
  margin-top: 128px
  font-weight: 700
  letter-spacing: 2px
  text-shadow: -4px 4px 1px var(--color-text-shadow)
  font-size: 2em

.entries
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr))
  justify-content: space-around
  gap: 10px
  padding: 0 20px
  
  &.collapsed
    display: none

.entry
  display: flex
  flex-direction: column
  align-items: center
  gap: 10px
  text-decoration: none
  transition: background-color .15s
  
  &:hover .entry-image
    scale: 1.05
    filter: blur(2px)
  
.entry-name
  color: var(--color-text-white)
  font-size: 1.2em
  letter-spacing: 1px
  font-weight: 700
  padding-bottom: 10px
  text-align: center

.entry-images
  min-width: 256px
  height: 128px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  text-decoration: none
  color: var(--color-text-white)
  position: relative
  overflow: hidden
  align-self: stretch
  box-shadow: var(--box-shadow)
  
.entry-image
  width: 100%
  height: 100%
  background-size: cover
  background-position: 50% 50%
  position: relative
  transition: scale .3s, filter .3s

.logo
  position: absolute
  inset: 16px
  background-size: contain
  background-position: 50% 50%
  background-repeat: no-repeat
  filter: drop-shadow(0 10px 4px var(--color-text-shadow))
  display: flex
  align-items: center
  font-size: 2.25rem
  text-align: center
  font-weight: 700
  justify-content: center

.optifine
  position: absolute
  bottom: 0
  right: 0
  width: 32px
  height: 32px

.category-header
  position: sticky
  background-color: var(--color-grey-darker)
  z-index: 1
  padding: 20px 0
  
  h1
    margin: 0
    text-shadow: -4px 4px 1px var(--color-text-shadow)
    
  svg
    user-select: none
    fill: var(--color-text-white)
    position: absolute
    top: 14px
    right: 0
    width: 38px
    transform: rotateZ(90deg)
    cursor: pointer
    filter: drop-shadow(4px 4px 1px var(--color-text-shadow))
    transition: fill .15s, transform .15s, filter .15s
      
    &.collapsed
      transform: rotateZ(0)
      filter: drop-shadow(-4px 4px 1px var(--color-text-shadow))

.featured-entry
  padding: var(--header-height)
  display: flex
  align-items: center
  flex-direction: column
  gap: 20px

.featured-title
  font-weight: 700
  font-size: 2rem
  text-shadow: -4px 4px 1px var(--color-text-shadow)

.featured
  display: flex
  justify-content: center
  text-decoration: none
  color: var(--color-text-white)
  gap: 20px
  background-color: var(--color-grey)
  padding: 10px 20px 10px 10px
  box-shadow: var(--box-shadow)
  transition: background-color .15s
  
  .logo
    inset: 24px
  
  &:hover
    background-color: var(--color-grey-light)
    
    .entry-image
      scale: 1.05
      filter: blur(2px)
      
.featured-images
  min-width: 384px
  height: 192px

.featured-category
  margin-bottom: 5px
  text-transform: uppercase
  letter-spacing: 5px
  font-size: 0.75rem

.featured-name
  font-weight: 700
  font-size: 1.5rem
  text-shadow: var(--text-shadow)
  margin-bottom: 10px

.featured-description
  line-height: 1.5rem
  display: flex
  flex-direction: column
  max-height: 135px
  overflow-y: auto
  white-space: pre-wrap
  padding-right: 10px
  margin-right: -10px
  
  code
    font-size: 16px
    background-color: black
    padding: 0 4px
    font-family: Consolas, monospace
    
  li
    margin-top: 5px
  
  img
    image-rendering: pixelated
    max-width: 100%
    
  p
    margin-top: 0

// mobile

@media only screen and (max-width: 900px)
  .featured
    flex-direction: column
    text-align: center
    padding: 10px
    
  .featured-images
    min-width: initial
    
  .featured-details
    padding: 0 10px 10px

@media only screen and (max-width: 768px)
  .category-header
    font-size: 0.75em
    padding: 10px 0
    
    svg
      top: 0
      width: 24px
    
  .entries
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))
    
  .entry
    .entry-images
      min-width: 160px
      height: 80px
    
    .logo
      inset: 8px
      font-size: 1.3rem
    
  .featured-title
    font-size: 1.5rem
    text-align: center