extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Pack & White - Ewan Howell",
      description: "The black and white resource pack",
      image: "resourcepacks/pack-and-white/cover.webp",
      colour: "#585858",
      icon: "resourcepacks/pack-and-white/icon.webp"
    }