doctype html
html
  head
    title Ewan Howell - Pack & White
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/pack-and-white/pack.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/pack-and-white/pack.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - Pack & White")
    meta(property = "og:description", content = "The black and white resource pack")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/pack-and-white/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/pack-and-white/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#585858")
    include /../includes/head.pug
  include /../includes/body.pug