.container
  max-width: var(--content-width)
  margin: 0 auto
  min-height: calc(100% - var(--header-height))
  flex: 1
  
.color-container
  display: flex
  flex-wrap: wrap

.colour
  min-width: 128px
  height: 128px
  flex: 1