.container
  max-width: var(--content-width)
  margin: 0 auto
  min-height: calc(100% - var(--header-height))
  flex: 1
  
.color-container
  display: flex
  flex-wrap: wrap

.colour
  min-width: 128px
  height: 128px
  flex: 1
  background-image: url("/assets/images/misc/transparent.webp")
  background-attachment: fixed
  
.hex
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8), 0px 0px 2px rgba(0, 0, 0, 1)
  height: 100%