extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Plugins - Ewan Howell",
      description: "View all of Ewan Howell's Blockbench plugins",
      image: "plugins/cem-template-loader/images/dialog.webp",
      colour: "#21252A"
    }