extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Mojang Converter - Ewan Howell",
      description: "Convert the Mojang Studios logo texture between the 1.15 and 1.16 formats",
      image: "minecraft/mojangstudios.webp",
      colour: "#FFFFFF"
    }