extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Glide - Ewan Howell",
      description: "A pack where entities glide along...",
      image: "resourcepacks/glide/cover.webp",
      colour: "#2e361d",
      icon: "resourcepacks/glide/icon.webp"
    }