extends /../includes/main.pug

block meta
  -
    meta = {
      title: "PewDiePack Remastered - Ewan Howell",
      description: "This is Pewdiepack Remastered!",
      image: "resourcepacks/pewdiepack-remastered/cover.webp",
      colour: "#6e7469",
      icon: "resourcepacks/pewdiepack-remastered/icon.webp"
    }