extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Better Bows - Ewan Howell",
      description: "The bow improvement resource pack!",
      image: "resourcepacks/better-bows/cover.webp",
      colour: "#42512e",
      icon: "resourcepacks/better-bows/icon.webp"
    }