extends /../includes/main.pug

block meta
  -
    meta = {
      title: "ParitySheep - Ewan Howell",
      description: "Bring parity to the sheep of Minecraft!",
      image: "resourcepacks/paritysheep/cover.webp",
      colour: "#a9b2a1",
      icon: "resourcepacks/paritysheep/icon.webp"
    }