.button
  background-color: var(--color-grey-lighter)

.button-download
  background-color: var(--color-download)

.button, .button-download
  color: white
  text-decoration: none
  padding: 10px
  align-items: center
  font-weight: 700
  box-shadow: 0 8px 5px rgba(0, 0, 0, .314)
  transition: filter .15s
  display: inline-flex
  gap: 4px
  cursor: pointer
  user-select: none
  
  & > *
    transition: transform .15s

  &:hover
    filter: hue-rotate(-10deg) brightness(1.2)
  
  &:active > *
    transform: translateY(4px)

  span
    text-shadow: var(--text-shadow)
    letter-spacing: 1px
    flex: 1
    text-align: center

  svg, img
    width: 28px
    height: 28px
    fill: white
    filter: drop-shadow(-2px 2px 1px var(--color-svg-shadow))
    
  img
    filter: invert() drop-shadow(-2px 2px 1px var(--color-svg-shadow))