extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Mob Vote: Faithful - Ewan Howell",
      description: "The pack that adds the Mob Vote entities. Now in 32x!",
      image: "resourcepacks/mob-vote-faithful/cover.webp",
      colour: "#3b4920",
      icon: "resourcepacks/mob-vote-faithful/icon.webp"
    }