extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Entity Healthbars: Dokucraft - Ewan Howell",
      description: "The pack where every entity has a healthbar! Now Dokucraft style!",
      image: "resourcepacks/entity-healthbars-dokucraft/cover.webp",
      colour: "#3a4828",
      icon: "resourcepacks/entity-healthbars-dokucraft/icon.webp"
    }