extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Pack & White: Crimson Chrome - Ewan Howell",
      description: "The Black & White pack where only the colour red remains!",
      image: "resourcepacks/pack-and-white-crimson-chrome/cover.webp",
      colour: "#695d5d",
      icon: "resourcepacks/pack-and-white-crimson-chrome/icon.webp"
    }