doctype html
html
  head
    title Pack & White: Crimson Chrome - Ewan Howell
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/pack-and-white-crimson-chrome/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/pack-and-white-crimson-chrome/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Pack & White: Crimson Chrome - Ewan Howell")
    meta(property = "og:description", content = "The Black & White pack where only the colour red remains!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/pack-and-white-crimson-chrome/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/pack-and-white-crimson-chrome/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#695d5d")
    include /../includes/head.pug
  include /../includes/body.pug