extends /../includes/main.pug

block meta
  -
    meta = {
      title: "1.17 Entities - Ewan Howell",
      description: "The pack that adds the 1.17 entities to the game.",
      image: "resourcepacks/1-17-entities/cover.webp",
      colour: "#34302f",
      icon: "resourcepacks/1-17-entities/icon.webp"
    }