extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Solar Eclipse - Ewan Howell",
      description: "Bring a Solar Eclipse to your world.",
      image: "resourcepacks/solar-eclipse/cover.webp",
      colour: "#061114",
      icon: "resourcepacks/solar-eclipse/icon.webp"
    }