body
  #header-container
    #header
      .logo#logo-side
        img(src = "/assets/images/logo/logo_side.webp")
      .logo
        a(href = "/", is = "f-a")
          img(src = "/assets/images/logo/logo.webp")
      a.page-button(href = "/", is = "f-a") Home
      a.page-button(href = "/resourcepacks", is = "f-a") Resource Packs
      a.page-button(href = "/maps", is = "f-a") Maps
      a.page-button(href = "/plugins", is = "f-a") Plugins
      .spacer
      a.page-button(href = "https://www.wynem.com/", target = "_blank") Wynem
      a.page-button(href = "https://discord.com/invite/pkRxtGw", target = "_blank") Discord
  #content