body
  template#footer-template
    #footer-container
      #footer
        a.footer-button(href = "https://twitter.com/ewanhowell5195", target = "_blank")
          include /svg/twitter.svg
          span @ewanhowell5195
        #footer-spacer
        a.footer-button(href = "https://ko-fi.com/ewanhowell", target = "_blank") Donate
        a.footer-button(href = "mailto:contact@ewanhowell.com", target = "_blank") Contact
  #header-container
    #header
      .logo#logo-side
        img(src = "/assets/images/logo/logo_side.webp")
      .logo
        a(href = "/", is = "f-a")
          img(src = "/assets/images/logo/logo.webp")
      a.page-button(href = "/", is = "f-a") Home
      a.page-button(href = "/resourcepacks", is = "f-a") Resource Packs
      a.page-button(href = "/maps", is = "f-a") Maps
      a.page-button(href = "/plugins", is = "f-a") Plugins
      .spacer
      a.page-button(href = "https://www.wynem.com/", target = "_blank") Wynem
      a.page-button(href = "https://discord.com/invite/pkRxtGw", target = "_blank") Discord
  #content