script(data-ad-client = "ca-pub-2999169357819471", async, src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
script(async, src = "https://www.googletagmanager.com/gtag/js?id = UA-155158328-2")
link(rel = "stylesheet", href = "/style.css")
script(data-cfasync="false", type = "text/javascript", src = "https://code.jquery.com/jquery-3.6.0.slim.min.js")
script(data-cfasync="false", src = "/script.js", type = "module")
link(rel = "modulepreload", href = "/pages/home/page.js")
link(rel = "modulepreload", href = "/js/pages.js")