extends /../includes/main.pug

block meta
  -
    meta = {
      title: "ClapTrap - Ewan Howell",
      description: "The ClapTrap pet mod for Minecraft Dungeons",
      image: "dungeonsmods/claptrap/cover.webp",
      colour: "#3c2b31",
      icon: "dungeonsmods/claptrap/icon.webp"
    }