doctype html
html
  head
    title BB-8 - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/dungeonsmods/bb-8/icon.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/dungeonsmods/bb-8/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "BB-8 - Ewan Howell")
    meta(property = "og:description", content = "The BB-8 pet mod for Minecraft Dungeons")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/dungeonsmods/bb-8/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/dungeonsmods/bb-8/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#1b1a1f")
    include /../includes/head.pug
  include /../includes/body.pug