extends /../includes/main.pug

block meta
  -
    meta = {
      title: "BB-8 - Ewan Howell",
      description: "The BB-8 pet mod for Minecraft Dungeons",
      image: "dungeonsmods/bb-8/cover.webp",
      colour: "#1b1a1f",
      icon: "dungeonsmods/bb-8/icon.webp"
    }