doctype html
html
  head
    title Ewan Howell - Packtober Remastered
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/packtober-remastered/pack.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/packtober-remastered/pack.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - Packtober Remastered")
    meta(property = "og:description", content = "The ultimate halloween themed resource pack")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/packtober-remastered/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/packtober-remastered/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#3d3118")
    include /../includes/head.pug
  include /../includes/body.pug