extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Packtober Remastered - Ewan Howell",
      description: "The ultimate halloween themed resource pack",
      image: "resourcepacks/packtober-remastered/cover.webp",
      colour: "#3d3118",
      icon: "resourcepacks/packtober-remastered/icon.webp"
    }