doctype html
html
	head
		title Ewan Howell
		link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/logo/logo_16.webp")
		link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/logo/logo_32.webp")
		meta(property = "og:type", content = "website")
		meta(property = "og:title", content = "Ewan Howell")
		meta(property = "og:description", content = "ewanhowell.com")
		meta(property = "og:image", content = `https://${self.domain}/assets/images/logo/logo.webp`)
		meta(name = "theme-color", content = "#AC3535")
		include /../includes/head.pug
	include /../includes/body.pug