:root
  color-scheme: dark
  --color-red-light: #C75949
  --color-red: #AC3535
  --color-red-dark: #812838
  --color-green-light: #314340
  --color-green: #23302D
  --color-green-dark: #17201C
  --color-text-white: #FFF
  --color-box-shadow: #00000030
  --color-text-shadow: #00000080
  --color-svg-shadow: #000000c0
  --color-text-optifine: #FABD26
  --color-text-shadow-optifine: #45110E
  --color-shadow: #00000080
  --color-grey-light: #343434
  --color-grey: #232323
  --color-grey-dark: #1A1A1A
  --color-grey-darker: #121212
  --color-link-blue: #6C80F6
  --header-height: 40px
  --content-width: 1280px
  --box-shadow: 0 10px 10px var(--color-box-shadow)
  --gradient-optifine: linear-gradient(#912F2D, #922D2F, #83262A, #761E23, #6D1720)

body
  margin: 0
  background-color: var(--color-grey-darker)
  overflow: hidden

*
  font-family: Arial
  color: var(--color-text-white)
  
.hidden
  display: none!important

.spacer
  flex: 1

// scrollbar

body::-webkit-scrollbar, div::-webkit-scrollbar
  width: 10px

body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb
  background-color: var(--color-red)

  &:hover
    background-color: var(--color-red-light)

    &:active
      background-color: var(--color-red)

// header

#header-container
  background-color: var(--color-red)
  width: 100%
  display: flex
  justify-content: center
  height: var(--header-height)
  position: sticky
  top: 0
  box-shadow: var(--box-shadow)
  z-index: 2

#header
  width: var(--content-width)
  display: flex
  position: relative
  padding-right: calc(min(45px, 45px - (100vw - var(--content-width)) / 2))
  box-sizing: border-box

.page-button
  text-decoration: none
  display: flex
  align-items: center
  color: white
  font-weight: 700
  letter-spacing: 1px
  padding: 0 10px
  text-shadow: -2px 2px 1px var(--color-text-shadow)
  transition: background-color .15s
  user-select: none
  min-height: var(--header-height)
  gap: 10px

  & > span
    transition: transform .15s

  &:hover
    background-color: var(--color-red-light)

  &:active > span
    transform: translateY(3px)

  &.selected
    background-color: var(--color-red-dark)

  &.logo > span::before
    content: "Home"

.logo
  padding-left: 0

  img
    height: var(--header-height)

#logo-side
  position: absolute
  right: 100%

.hamburger-container
  cursor: pointer
  transition: background-color .15s
  width: 25px
  padding: 0 10px
  
  &.outside
    position: absolute
    top: 0
    right: 0

  &:hover
    background-color: var(--color-red-light)

  &.active
    background-color: var(--color-red-dark)

    .hamburger-line
      transition-delay: .12s
      transition-timing-function: cubic-bezier(.215, .61, .355, 1)
      transform: rotate(45deg)

      &:before
        top: 0
        transition: top 75ms ease, opacity 75ms ease .12s
        opacity: 0

      &:after
        bottom: 0
        transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s
        transform: rotate(-90deg)

.hamburger
  filter: drop-shadow(-2px 2px 1px var(--color-text-shadow))
  display: flex
  align-items: center
  height: var(--header-height)

.hamburger-line
  position: relative
  display: block
  transition-timing-function: cubic-bezier(.55, .055, .675, .19)
  transition-duration: 75ms

  &, &:before, &:after
    content: ""
    width: 25px
    height: 4px
    border-radius: 4px
    background-color: #fff

  &:before
    position: absolute
    top: -8px
    transition: top 75ms ease .12s, opacity 75ms ease

  &:after
    position: absolute
    bottom: -8px
    transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19)

#sidebar
  right: 0
  position: fixed
  z-index: 1
  top: var(--header-height)
  bottom: 0
  background-color: var(--color-green-dark)
  box-shadow: initial
  transition: transform .5s ease, box-shadow .5s ease
  padding: 20px 0 10px
  transform: translateX(100%)
  display: flex;
  flex-direction: column;
  overflow-y: auto
  
  &.active
    transform: translateX(0)
    box-shadow: 0 0 100px black
    
  .page-button
    &:hover
      background-color: var(--color-green-light)

    &.selected
      background-color: var(--color-green)
      
  .line
    background-color: var(--color-text-white)
    width: calc(100% - 20px)
    min-height: 2px
    margin: 10px 10px
    opacity: 0.5

// page

.page
  position: relative
  display: block
  width: 100%
  height: 100%

  &:not(.loading)
    opacity: 0
    animation: fadeIn 1 250ms forwards

  &.loading
    visibility: hidden
    pointer-events: none
    animation: none
    opacity: 0
    
#content
  position: relative
  height: calc(100vh - var(--header-height))

// popups

.popup
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: #00000080
  z-index: 99
  display: flex
  justify-content: center
  align-items: center
  animation: fadeIn .25s forwards 1
  opacity: 0

  @keyframes fadeIn
    from
      opacity: 0
    to
      opacity: 1    

.popup-container
  position: relative
  overflow: hidden
  user-select: none
  box-shadow: 0 8px 16px black

.popup-image-close
  fill: white
  position: absolute
  top: 0
  right: -48px
  filter: drop-shadow(-2px 4px 1px var(--color-text-shadow))
  cursor: pointer
  transition: right .15s, opacity .15s
  opacity: 0
  width: 64px
  height: 64px
  
  &:hover
    right: 0
    opacity: 1
  
.popup-image
  max-width: calc(90vw)
  max-height: calc(90vh)
  display: block

  &:hover ~ .popup-image-close
    right: 0
    opacity: 1
    
.popup-optifine
  width: 405px
  background-color: var(--color-grey)
  
  #popup-optifine-banner
    display: flex
    background-image: var(--gradient-optifine)
    align-items: center
    max-height: 50px
    box-shadow: var(--box-shadow)
    gap: 15px
    width: 100%
    
    div
      color: var(--color-text-optifine)
      text-shadow: 0 3px 1px var(--color-text-shadow-optifine)
      font-weight: 700
      
    #popup-optifine-close
      width: 40px
      height: 40px
      padding: 5px
      transition: background-color .15s
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer

      svg
        min-width: 28px
        min-height: 28px
        fill: var(--color-text-optifine)
        filter: drop-shadow(0 3px 1px var(--color-text-shadow-optifine))
        transition: transform .15s
      
      &:hover
        background-color: #A93931

      &:active > *
        transform: translateY(4px)
  
  #popup-optifine-text
    white-space: pre-wrap
    padding: 28px
    user-select: text
    
    h3
      margin: 30px 0 10px
      
  #popup-optifine-download
    width: 100%
    display: flex
    justify-content: center
    padding-bottom: 28px
    
    div
      background-image: var(--gradient-optifine)
      box-shadow: var(--box-shadow)
    
      a
        display: flex
        align-items: center
        font-weight: 700
        text-decoration: none
        text-shadow: 0 3px 1px var(--color-text-shadow-optifine)
        gap: 10px
        padding: 10px
        transition: background-color .15s
        
        & > *
          transition: transform .15s
        
        span
          color: var(--color-text-optifine)
        
        svg
          width: 28px
          height: 28px
          fill: var(--color-text-optifine)
          filter: drop-shadow(0 3px 1px var(--color-text-shadow-optifine))
          
        &:hover
          background-image: none
          background-color: #A93931

        &:active > *
          transform: translateY(4px)

// animations

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

// mobile

@media only screen and (max-width: 768px)
  .page-button.logo 
    background-color: transparent

    > span::before
      content: "Ewan Howell"
  
  #header > .page-button:not(.logo)
    display: none

  .popup-image-close
    right: 0
    opacity: 1