extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Invisible Steve - Ewan Howell",
      description: "A mod that makes Steve invisible",
      image: "dungeonsmods/invisible-steve/cover.webp",
      colour: "#1f1c1d",
      icon: "dungeonsmods/invisible-steve/icon.webp"
    }