doctype html
html
  head
    title Invisible Steve - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/dungeonsmods/invisible-steve/icon.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/dungeonsmods/invisible-steve/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Invisible Steve - Ewan Howell")
    meta(property = "og:description", content = "A mod that makes Steve invisible")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/dungeonsmods/invisible-steve/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/dungeonsmods/invisible-steve/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#1f1c1d")
    include /../includes/head.pug
  include /../includes/body.pug