extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Template Green - Ewan Howell",
      description: "The template textures for the grayscaled blocks",
      image: "resourcepacks/template-green/cover.webp",
      colour: "#1c3d10",
      icon: "resourcepacks/template-green/icon.webp"
    }