extends /../includes/main.pug

block meta
  -
    meta = {
      title: "The PewDiePack - Ewan Howell",
      description: "This is The PewDiePack",
      image: "resourcepacks/the-pewdiepack/cover.webp",
      colour: "#745a2a",
      icon: "resourcepacks/the-pewdiepack/icon.webp"
    }