doctype html
html
  head
    title Ewan Howell - The PewDiePack
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/the-pewdiepack/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/the-pewdiepack/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - The PewDiePack")
    meta(property = "og:description", content = "This is The PewDiePack")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/the-pewdiepack/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/the-pewdiepack/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#745a2a")
    include /../includes/head.pug
  include /../includes/body.pug