doctype html
html
  head
    title Colour Gradient Generator - Ewan Howell
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/plugins/colour-gradient-generator/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/plugins/colour-gradient-generator/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Colour Gradient Generator - Ewan Howell")
    meta(property = "og:description", content = "Generate hue shifted gradient palettes from a single colour.")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/plugins/colour-gradient-generator/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/plugins/colour-gradient-generator/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#898e6f")
    include /../includes/head.pug
  include /../includes/body.pug