extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Colour Gradient Generator - Ewan Howell",
      description: "Generate hue shifted gradient palettes from a single colour.",
      image: "plugins/colour-gradient-generator/cover.webp",
      colour: "#898e6f",
      icon: "plugins/colour-gradient-generator/icon.webp"
    }