template#skip-icon: include /assets/images/svg/open_in_new.svg
.container
  #countdown Please wait...
  script(src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2999169357819471' crossorigin='anonymous')
  ins.adsbygoogle(style='display:block' data-ad-client='ca-pub-2999169357819471' data-ad-slot='8510025387' data-ad-format='auto' data-full-width-responsive='true')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({})