doctype html
html
  head
    title Bold Muddy - Devolution
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/devolution/pack.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/devolution/pack.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Bold Muddy - Devolution")
    meta(property = "og:description", content = "Restoring Minecraft to its origins")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/devolution/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/devolution/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#776530")
    include /../includes/head.pug
  include /../includes/body.pug