extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Devolution - Bold Muddy",
      description: "Restoring Minecraft to its origins",
      image: "resourcepacks/devolution/cover.webp",
      colour: "#776530",
      icon: "resourcepacks/devolution/icon.webp"
    }