extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Throwing Axes - Ewan Howell",
      description: "Turn Tridents into Throwing Axes!",
      image: "resourcepacks/throwing-axes/cover.webp",
      colour: "#636939",
      icon: "resourcepacks/throwing-axes/icon.webp"
    }