doctype html
html
  head
    title Ewan Howell - Throwing Axes
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/throwing-axes/pack.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/throwing-axes/pack.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - Throwing Axes")
    meta(property = "og:description", content = "Turn Tridents into Throwing Axes!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/throwing-axes/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/throwing-axes/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#636939")
    include /../includes/head.pug
  include /../includes/body.pug