doctype html
html
  head
    title Stevified - Ewan Howell
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/stevified/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/stevified/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Stevified - Ewan Howell")
    meta(property = "og:description", content = "The pack where every entity is Steve!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/stevified/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/stevified/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#4d4231")
    include /../includes/head.pug
  include /../includes/body.pug