extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Stevified - Ewan Howell",
      description: "The pack where every entity is Steve!",
      image: "resourcepacks/stevified/cover.webp",
      colour: "#4d4231",
      icon: "resourcepacks/stevified/icon.webp"
    }