extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Dimension Shift - Ewan Howell",
      description: "The dimension switching resource pack!",
      image: "resourcepacks/dimension-shift/cover.webp",
      colour: "#221907",
      icon: "resourcepacks/dimension-shift/icon.webp"
    }