extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Snowstorm - Ewan Howell",
      description: "The Snowy, Winter Themed Resource Pack!",
      image: "resourcepacks/snowstorm/cover.webp",
      colour: "#959794",
      icon: "resourcepacks/snowstorm/icon.webp"
    }