doctype html
html
  head
    title Snowstorm - Ewan Howell
    link(rel = "icon", type = "image/webp", sizes = "16x16", href = "/assets/images/resourcepacks/snowstorm/icon.webp")
    link(rel = "icon", type = "image/webp", sizes = "32x32", href = "/assets/images/resourcepacks/snowstorm/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Snowstorm - Ewan Howell")
    meta(property = "og:description", content = "The Snowy, Winter Themed Resource Pack!")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/snowstorm/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/snowstorm/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#959794")
    include /../includes/head.pug
  include /../includes/body.pug