doctype html
html
	head
		title Ewan Howell - Maps
		link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/logo/logo_16.webp")
		link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/logo/logo_32.webp")
		meta(property = "og:type", content = "website")
		meta(property = "og:title", content = "Ewan Howell - Maps")
		meta(property = "og:description", content = "View all of Ewan Howell's maps")
		meta(property = "og:image", content = `https://${self.domain}/assets/images/maps/entity-tester/images/entities.webp`)
		meta(property = "twitter:image", content = `https://${self.domain}/assets/images/maps/entity-tester/images/entities.webp`)
		meta(property = "twitter:card", content="summary_large_image")
		meta(name = "theme-color", content = "#54422B")
		include /../includes/head.pug
	include /../includes/body.pug