doctype html
html
  head
    title Ewan Howell - Packsepticeye
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/resourcepacks/packsepticeye/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/resourcepacks/packsepticeye/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "Ewan Howell - Packsepticeye")
    meta(property = "og:description", content = "This is Packsepticeye")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/resourcepacks/packsepticeye/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/resourcepacks/packsepticeye/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#feaf7f")
    include /../includes/head.pug
  include /../includes/body.pug