extends /../includes/main.pug

block meta
  -
    meta = {
      title: "Packsepticeye - Ewan Howell",
      description: "This is Packsepticeye",
      image: "resourcepacks/packsepticeye/cover.webp",
      colour: "#feaf7f",
      icon: "resourcepacks/packsepticeye/icon.webp"
    }