doctype html
html
  head
    title CEM Template Loader - Ewan Howell
    link(rel = "icon", type = "image/png", sizes = "16x16", href = "/assets/images/plugins/cem-template-loader/icon.webp")
    link(rel = "icon", type = "image/png", sizes = "32x32", href = "/assets/images/plugins/cem-template-loader/icon.webp")
    meta(property = "og:type", content = "website")
    meta(property = "og:title", content = "CEM Template Loader - Ewan Howell")
    meta(property = "og:description", content = "Load template Java Edition entity models for use with OptiFine CEM. Also includes an animation editor, so that you can create custom entity animations.")
    meta(property = "og:image", content = `https://${self.domain}/assets/images/plugins/cem-template-loader/cover.webp`)
    meta(property = "twitter:image", content = `https://${self.domain}/assets/images/plugins/cem-template-loader/cover.webp`)
    meta(property = "twitter:card", content="summary_large_image")
    meta(name = "theme-color", content = "#323232")
    include /../includes/head.pug
  include /../includes/body.pug