extends /../includes/main.pug

block meta
  -
    meta = {
      title: "CEM Template Loader - Ewan Howell",
      description: "Load template Java Edition entity models for use with OptiFine CEM. Also includes an animation editor, so that you can create custom entity animations.",
      image: "plugins/cem-template-loader/cover.webp",
      colour: "#323232",
      icon: "plugins/cem-template-loader/icon.webp"
    }